<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top border-bottom">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="bi bi-layers me-2"></i> Log - Vault
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
            </ul>
            {% if not user.is_authenticated %}
                <div class="ms-3">
                    <a href="{% url 'accounts:login' %}" class="btn btn-outline-light">Login</a>
                    <a href="{% url 'accounts:signup' %}" class="btn btn-light ms-2">Sign Up</a>
                </div>
            {% else %}
                <div class="dropdown ms-3">
                    <button class="btn dropdown-toggle d-flex align-items-center" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle fs-4 me-2"></i> {{ user.username }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form action="{% url 'accounts:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item text-danger"><i class="bi bi-box-arrow-left me-2"></i>Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</nav>