{% extends "dashboard/partials/_base_modal_partial.html" %}

{% block modal_header %}
<div class="d-flex align-items-center">
    <img src="{{ org.image_or_default }}" alt="{{ org.name }} Logo" class="rounded-circle border border-white border-2 me-2"
        style="width: 42px; height: 42px; object-fit: cover;">
    <h5 class="modal-title">{{ org.name }}</h5>
</div>
{% endblock modal_header %}

{% block modal_body %}
<ul class="list-unstyled mb-0">
    <li><strong>Status:</strong> {% include 'dashboard/partials/obj_status.html' with obj=org %}</li>
    <li><strong>Owner:</strong> {{ org.owner.get_full_name|default:org.owner.username }}</li>
    <li><strong>Description:</strong>
        <p class="text-muted mt-1">{{ org.description|default:"No description provided." }}</p>
    </li>
    <li><strong>Created:</strong> {{ org.created|date:"M d, Y H:i" }}</li>
    <li><strong>Updated:</strong> {{ org.updated|date:"M d, Y H:i" }}</li>
    <li class="mt-3"><strong>Members:</strong>
        <div class="d-flex align-items-center mt-2">
            {% for member in org.members.all|slice:5 %}
                <div class="position-relative" style="z-index: {{ forloop.revcounter }}; {% if not forloop.first %}margin-left: -12px;{% endif %}">
                    <img
                        src="{{ member.user.image_or_default }}"
                        alt="{{ member.user.username }}"
                        class="rounded-circle border border-{% if member.user == user %}success{% else %}white{% endif %} border-2"
                        style="width: 42px; height: 42px; object-fit: cover;">
                </div>
            {% endfor %}
            {% if org.orgmember_set.all.count > 5 %}
                <span class="ms-2 text-muted fw-bold">and more...</span>
            {% endif %}
        </div>
    </li>
</ul>

{% endblock modal_body %}

{% block modal_footer %}
<div class="d-flex justify-content-between gap-2 w-100">
    <a href="{% url 'orgs:org_details' org.slug %}" class="btn btn-outline-success btn-sm">View organization</a>
    <a href="{% url 'orgs:org_settings' org.slug %}" class="btn btn-outline-primary btn-sm">Open Settings</a>
</div>
{% endblock modal_footer %}
