<div class="col-md-4">
    <div class="card org-card rounded-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-start">
                <div>
                    <a href="{{ obj_details_url }}"><h5 class="fw-bold">{{ obj.name }}</h5></a>
                    {% block card_info %}
                        <p>Some info</p>
                    {% endblock card_info %}
                </div>
                {% include 'dashboard/partials/obj_status.html' %}
            </div>
        </div>
        <div class="org-card-footer p-3">
            <div class="d-flex gap-2">
                <a
                    hx-get="{% url obj_overview_url obj.id %}"
                    hx-target="#modal-content"
                    hx-swap="innerHTML"
                    hx-trigger="click"
                    data-bs-toggle="modal"
                    data-bs-target="#modal"
                    class="btn btn-outline-primary btn-sm flex-fill"
                >
                    <i class="bi bi-eye me-1"></i>View Details
                </a>
                <a href="{{ obj_settings_url }}" class="btn btn-outline-secondary btn-sm">
                    <i class="bi bi-gear"></i>
                </a>
            </div>
        </div>
    </div>
</div>