{% extends 'dashboard/_base_dashboard.html' %}

{% block title %}
    <i class="bi bi-folder me-2"></i>Projects
{% endblock title %}

{% block description %}
    Manage your projects
{% endblock description %}

{% block cards %}
    {% for project in projects %}
        {% include 'dashboard/cards/project_card.html' with obj=project obj_settings_url='projects:project_settings' obj_id=project.id %}
    {% endfor %}
    {% include 'dashboard/create_new.html' with obj_name='Project' create_obj_url='projects:create_project' %}
{% endblock cards %}