{% extends 'dashboard/_base_dashboard.html' %}
{% load widget_tweaks %}

{% block title %}
    Create a Project
{% endblock title %}

{% block dashboard_content %}
<div class="d-flex justify-content-center m-3 mt-2">
    <div class="p-4" style="max-width: 900px; width: 100%;">
        <div class="text-center">
            <form method="POST" action="{% url 'projects:create_project' %}">
                {% csrf_token %}
                <div class="mb-3 text-start">
                    <i class="bi bi-folder me-2"></i> {{ form.org|add_label_class:"form-label" }}
                    {% render_field form.org class="form-control" %}
                </div>
                <div class="mb-3 text-start">
                    <i class="bi bi-folder me-2"></i> {{ form.name|add_label_class:"form-label" }}
                    {% render_field form.name class="form-control" %}
                </div>
                <div class="mb-3 text-start">
                    <i class="bi bi-body-text me-2"></i> {{ form.description|add_label_class:"form-label" }}
                    {% render_field form.description class="form-control" style="max-height: 200px; min-height: 50px;" %}
                </div>
                {% if form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-primary btn-lg w-100 mt-2">Create</button>
            </form>
        </div> 
    </div>
</div>
{% endblock dashboard_content %}