{% extends 'dashboard/_base_dashboard.html' %}

{% block title %}
<i class="bi bi-gear me-2"></i>Settings
{% endblock title %}

{% block dashboard_content %}
<div class="container mt-5">
    <div class="row justify-content-center g-4">
        <div class="col-12 col-sm-6 col-md-5 col-lg-4">
            <a href="" class="text-decoration-none text-white">
                <div class="card bg-blue-gray shadow h-100">
                    <div class="card-body p-4 d-flex flex-column align-items-start">
                        <i class="bi bi-gear-fill fs-2 mb-3"></i>
                        <h4 class="mb-0">General Settings</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-5 col-lg-4">
            <a href="{% url 'accounts:settings' %}" class="text-decoration-none text-white">
                <div class="card bg-blue-gray shadow h-100">
                    <div class="card-body p-4 d-flex flex-column align-items-start">
                        <i class="bi bi-person-circle fs-2 mb-3"></i>
                        <h4 class="mb-0">Account Settings</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock dashboard_content %}