<div class="d-flex justify-content-center m-3 mt-2">
    <div class="p-4" style="max-width: 900px; width: 100%;">
        <h4 class="text-danger">Danger Zone</h4>
        <div class="border border-danger rounded-3 p-3">
            <div class="d-flex justify-content-between align-items-start mb-3">
                <div>
                    <div class="fw-bold">Change {{ obj_name }} status</div>
                    <div class="text-muted small">
                        This {{ obj_name }} is currently {% include 'dashboard/partials/obj_status.html' %}
                    </div>
                </div>
                <button
                    hx-get="{% url obj_status_url obj.id %}"
                    hx-target="#modal-content"
                    hx-swap="innerHTML"
                    hx-trigger="click"
                    data-bs-toggle="modal"
                    data-bs-target="#modal"
                    class="btn btn-outline-danger btn-sm"
                >
                    Change status
                </button>
            </div>
            <hr>
            <div class="d-flex justify-content-between align-items-start mb-3">
                <div>
                    <div class="fw-bold">Transfer ownership</div>
                    <div class="text-muted small">Transfer this {{ obj_name }} to another user</div>
                </div>
                <button class="btn btn-outline-danger btn-sm">Transfer</button>
            </div>
            <hr>
            <div class="d-flex justify-content-between align-items-start">
                <div>
                    <div class="fw-bold">Delete this {{ obj_name }}</div>
                    <div class="text-muted small">
                        Once you delete this {{ obj_name }}, there is no going back. Please be certain.
                    </div>
                </div>
                <button
                    hx-get="{% url obj_delete_url obj.id %}"
                    hx-target="#modal-content"
                    hx-swap="innerHTML"
                    hx-trigger="click"
                    class="btn btn-outline-danger btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#modal"
                >
                    Delete this {{ obj_name }}
                </button>
            </div>
        </div>
    </div>
</div>