<nav class="col-md-2 text-white p-3 border-end">
    <h5>Menu</h5>
    <ul class="nav flex-column border-bottom p-1">
        <li class="nav-item sidebar-item rounded-2"><a class="nav-link text-white" href="{% url 'dashboard:dashboard' %}"><i class="bi bi-bar-chart me-2"></i>Dashboard</a></li>
        <li class="nav-item sidebar-item rounded-2"><a class="nav-link text-white" href="{% url 'dashboard:orgs' %}"><i class="bi bi-buildings me-2"></i>Organizations</a></li>
        <li class="nav-item sidebar-item rounded-2"><a class="nav-link text-white" href="{% url 'dashboard:projects' %}"><i class="bi bi-folder me-2"></i>Projects</a></li>
        <li class="nav-item sidebar-item rounded-2"><a class="nav-link text-white" href="#"><i class="bi bi-key me-2"></i>API</a></li>
        <li class="nav-item sidebar-item rounded-2"><a class="nav-link text-white" href="{% url 'dashboard:settings' %}"><i class="bi bi-gear me-2"></i>Settings</a></li>
    </ul>
</nav>